<div class="panel panel-default popular-movies movies-component">
  <div class="panel-heading">
    <h3 class="panel-title">Popular movies</h3>
  </div>
  <div class="panel-body" *ngIf="popular">
    <div class="row">
      <div class="col-md-1" (click)="showPreviousMovies()">
        <i class="arrow left"></i>
      </div>
      <div class="col-md-2" *ngFor="let movie of popular">
        <div class="popular-movies-wrapper">
          <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Movie Poster">
          <h6>{{movie.title}}</h6>
          <p>{{movie.release_date}}</p>
          <a routerLink="/movie/{{movie.id}}">
            <button type="button" class="btn btn-default" routerLink="/movie/{{movie.id}}">
              View Details
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-1" (click)="showNextMovies()">
        <i class="arrow right"></i>
      </div>
    </div>
  </div>
</div>
